.header-col{
  float: left;
  text-align: center;
}
.last-header-col{
  clear:both;
}

.week{
  font-weight: normal;
  font-size: 10px;
  height: 14px;
}

.bg-week-od {
  background-color: #f3f3f3;
}

.bg-week-even{
  background-color: #fff;
}

.minute{
  font-weight: normal;
  font-size: 10px;
  height: 14px;
}

.bg-minute-od {
  background-color: #f3f3f3;
}

.bg-minute-even{
  background-color: #fff;
}

.progress-bar-empty{
  background-color: #fff !important;
}

.ro-progress.progress{
  margin-bottom: 0px !important;
}
